/* css variable declaration */
:root {
    --navy: #181c39;
    --light: #e6ecfc;
    --darkblue: #273176;
    --gray: #f7f2f8;
    --white: #ffffff;
    --black: #000000;
    --gray: #efefef;  
}

* {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin-bottom: 0rem;;
}

input {
  margin: 14px;
}

form {
  position: inherit;
  right: 0px;
}

label {
  padding: 6px;
}

button {
  background: none;
  border: none;
  color: var(--white);
  border: solid 1px var(--navy);
}

button:hover {
  background: var(--light);
  color: var(--darkblue);
}

.nav-link {
  color: var(--white);
  margin-right: 10px;
  padding: 10px;
}

.navbar {
    background-color: var(--navy);
    color: var(--light);
    padding: 15px;
}

.cfa {
  color: var(--navy);
}

.cfa:hover {
  background: var(--light);
  color: var(--darkblue);
}

.navbar-collapse {
  text-align: center;
}

.navbar-light .navbar-toggler {
  border-color: var(--white)
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--white);
  margin-left: 10px;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px var(--black);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.p-5 {
  height: 650px;
  background-image: url("img/petsbg.jpeg");
  padding: 5rem!important;
}

.container {
  margin-right: 0px;
}

.containernav {
  margin-left: 0px;
  max-width: none;
}

.input-group {
  width: auto;
  margin-inline-start: auto;
}

.card-body {
  font-size: 13px;
  margin-top: 20px;
}

.card-body:hover {
  background: var(--light);
  color: var(--darkblue);
}

.cardpad {
  margin-top: 100px;
}

.card {
  height: 400px;
}

.pet-imgs {
  max-height: 250px;
}

.formcat {
  margin-right: 10px;
}

.btncon {
  height: 40px;
  width: 105px;
  font-size: 10px;
  border: solid 1px var(--navy);
  padding: 10px;
}

.btnav {
  height: 40px;
  width: 105px;
  font-size: 10px;
  border: solid 1px var(--navy);
  padding: 10px;
  display: inline-block;
  text-align: center;
  background-color: transparent;
}

.modal-title {
  margin-bottom: -10px;
  text-align: center;
}

.modal-footer {
  padding: 3.75rem;
}

#banner-message {
  background: var(--white);
  border-radius: 4px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: 500px;
}

#breed_data {
  background: var(--white);
  border-radius: 4px;
  padding: 20px;
  font-size: 12px;
  text-align: left;
  transition: all 0.2s;
  margin: 0 auto;
}

#breed_data_two {
  padding: 20px;
  font-size: 12px;
  text-align: left;
  transition: all 0.2s;
  margin: 0 auto;
}

#breed_image {
  background: var(--white);
  margin: 0 auto;
  width: 350px;
  height: 350px;
}

#breed_image_two {
  background: var(--white);
  margin: 0 auto;
  width: 350px;
  height: 350px;
}

#pet-form {
  width: 100%;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--gray);
  color: var(--black);
  text-align: center;
}

/* media queries mobile  */
   @media (max-width: 481px) { 
  p {
  padding: 5px;
  }
  select {
  margin-left: 60px;
  }
  input {
    margin-left: 60px;
  }
  .navbar-nav {
    height: 100vh;
  }
  .dropdown-menu[data-bs-popper] {
    top: -50px;
  }
  .input-group {
    margin-top: -120px;
  }
  .form-control {
    font-size: 12px;
    height: 37px;
  }
  .form-select {
    width: 90px;
  }
  .card {
    height: 475px;
  }
  #pet-form {
    display: none;
  }
  #breed_image {
    height: 300px;
    width: 287px;
  }
  #breed_image_two {
    height: 300px;
    width: 287px;
  }
  #breed_data {
    width: 340px;
  }
  #breed_data_two {
    width: 340px;
  }
  .describebreed {
    margin: 2px 45px 0px 0px;
  }
  .btncon {
    margin: -87px 0px -30px 218px;
  }
  .btnav {
    margin-top: 15px;
    height: 36px;
  }
  .form-switch {
    margin-left: 80px;
    padding: 10px;
    display: inline-block;
  }
}

 /* media queries tablet  */
 @media (min-width: 768px) {
  .form-switch {
    margin-left: 105px;
    display: inline-block;
  }
  .footer {
      position: fixed;
  }
  #breed_data {
    width: 390px;
  }
  #breed_data_two {
    width: 390px;
  }
}

 /* media queries laptop  */
 @media (min-width: 992px) { 
  .btncon {
    margin: -87px 0px -30px 218px;
  }
  .btnav {
    margin-top: 15px;
    height: 36px;
  }
  .form-switch {
    margin-left: 105px;
    display: inline-block;
  }
  .footer {
    position: fixed;
  }
  #breed_data {
    width: 390px;
  }
  #breed_data_two {
    width: 390px;
  }
}

