/* css variable declaration */
:root {
    --navy: #181c39;
    --light: #e6ecfc;
    --darkblue: #273176;
    --gray: #f7f2f8;
    --white: #ffffff;  
}

* {
  font-family: 'Montserrat', sans-serif;
}

input {
  margin: 2px;
}

form {
  position: absolute;
  right: 0px;
  margin: 100px;
}

label {
  padding: 6px;
}

button {
  background: none;
  border: none;
  color: var(--white);
  border: solid 1px var(--navy);
}

.nav-link {
  color: var(--white);
  margin-right: 10px;
  padding: 10px;
}

.navbar {
    background-color: var(--navy);
    color: var(--light);
    padding: 15px;
}

.cfa {
  color: var(--navy);
}

.cfa:hover {
  background: var(--light);
  color: var(--darkblue);
}

.navbar-collapse {
  text-align: center;
}

.navbar-dark .navbar-toggler {
  border-color: var(--navy)
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--white);
  margin-left: 10px;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.p-5 {
  height: 650px;
  background-image: url("img/petsbg.jpeg");
  padding: 5rem!important;
}

.container {
  margin-left: 0px;
}

.card-body:hover {
  background: var(--light);
  color: var(--darkblue);
}

.cardpad {
  margin-top: 100px;
}

.card {
  height: 350px;
}

/* .cardpad:hover {
  color: var(--light);
} */

.pet-imgs {
  max-width: 70%;
  max-height: 200px;
}

.btn {
  height: 30px;
  width: 105px;
  font-size: 12px;
  border: solid 1px var(--navy);
}

/* media queries mobile  */
   @media (max-width: 481px) { /* navbar fullscreen on mobile collapse */
    .navbar-nav {
      height: 100vh;
   }
    #pet-form {
    display: none;
   }
   .btn {
    margin: -125px 0px -30px 227px;
  }
}

 /* media queries tablet  */
 @media (min-width: 768px) {
}

 @media (min-width: 992px) { 
  .btn {
    margin: -125px 0px -30px 268px;
  }
}

